<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stardust.home"
    android:versionCode="7"
    android:versionName="1.0.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <receiver android:name="com.stardust.home.Main" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/widget" />
        </receiver>
        <receiver
            android:name="com.stardust.home.Receiver"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.stardust.home.IMAGE_BUTTON" />
                <action android:name="com.stardust.home.UPDATE_BUTTON" />
                <action android:name="com.stardust.home.LEFT_BUTTON" />
                <action android:name="com.stardust.home.CENTER_BUTTON" />
                <action android:name="com.stardust.home.RIGHT_BUTTON" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/widget" />
        </receiver>
    </application>

</manifest>